<h2 *ngIf="!isEdit">Nuevo producto</h2>
<h2 *ngIf="isEdit">Editar producto #{{ id }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <mat-form-field appearance="outline" class="w100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required maxlength="100" />
    <mat-error *ngIf="form.controls.nombre.hasError('required')">
      El nombre es obligatorio
    </mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-stroked-button routerLink="/productos">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
  </div>
</form>